<!-- [[[II ESC:024-09 DOC:docs/documents/2026-06-15_024_open-tasks-detail-render-child-form.md ESC:024-14 DOC:docs/documents/2026-06-15_024_open-tasks-detail-render-child-form.md#escenario-14
  Dialogo de la tarea-detalle (General + Datos + Documentos) abierto dentro del modulo consumidor. ]]]FI -->
<p-dialog [(visible)]="formDialogVisible[$any('task-detail')]" (onHide)="onHide($any('task-detail'))"
  (onShow)="onShow($any('task-detail'))" [styleClass]="styleClassSecundaryDialog()" modal="true" maximizable="true">

  <ng-template #header>
    <div class="p-dialog-title">
      <span class="p-dialog-title-text">{{headerDialogSecundary()}}</span>
      <button type="button" class="p-dialog-titlebar-icon p-link" (click)="configDialog()">
        <i class="pi pi-spin pi-cog p-dialog-icon"></i>
      </button>
    </div>
  </ng-template>

  <form [formGroup]="form()[$any('task-detail')]" *ngIf="form()[$any('task-detail')]">
    <p-tabs [scrollable]="true" [value]="tabVisibleSecundary()" (valueChange)="onTaskDetailTabChange($event)">

      <p-tablist>
        <p-tab [value]="0">General</p-tab>
        <p-tab [value]="1">Datos</p-tab>
        <!-- [[[II ESC:024-14 DOC:docs/documents/2026-06-15_024_open-tasks-detail-render-child-form.md#escenario-14 -->
        <p-tab [value]="2">Documentos</p-tab>
        <!-- ]]]FI -->
      </p-tablist>

      <p-tabpanels>

        <p-tabpanel [value]="0">
          <app-custom-draw-form *ngIf="form()[$any('task-detail')] && drawForm()['task-detail']"
            [drawForm]="drawForm()['task-detail']['general']" [formGroup]="form()[$any('task-detail')]"
            (onSelectAutoCompleteAction)="onSelectAutoComplete($event)"
            (onChangeDropdownAction)="onChangeDropdown($event)" (onNewIconDropdownAction)="onNewIconDropdown($event)"
            (onReloadIconDropdownAction)="onReloadIconDropdown($event)" (onChangeToggleAction)="onChangeToggle($event)"
            (onKeydownEnterAction)="onKeydownEnter($event)"
            (onClosableIconDropdownAction)="onClosableIconDropdown($event)" (files64Action)="onFiles64($event)"
            (filesAction)="onFiles($event)" />
        </p-tabpanel>

        <p-tabpanel [value]="1">
          <app-custom-draw-form *ngIf="form()[$any('task-detail')] && drawForm()['task-detail_child_form_fields']"
            [drawForm]="drawForm()['task-detail_child_form_fields']" [formGroup]="form()[$any('task-detail')]"
            (onSelectAutoCompleteAction)="onSelectAutoComplete($event)"
            (onChangeDropdownAction)="onChangeDropdown($event)" (onNewIconDropdownAction)="onNewIconDropdown($event)"
            (onReloadIconDropdownAction)="onReloadIconDropdown($event)" (onChangeToggleAction)="onChangeToggle($event)"
            (onKeydownEnterAction)="onKeydownEnter($event)"
            (onClosableIconDropdownAction)="onClosableIconDropdown($event)" (files64Action)="onFiles64($event)"
            (filesAction)="onFiles($event)" />
        </p-tabpanel>

        <!-- [[[II ESC:024-14 DOC:docs/documents/2026-06-15_024_open-tasks-detail-render-child-form.md#escenario-14 -->
        <p-tabpanel [value]="2">
          <app-custom-documents [active]="taskDetailDocumentsActive()" [showNew]="false"
            [selected]="taskDetailDocumentSelected()" [type]="taskDetailDocumentType()"
            [app]="taskDetailDocumentApp()" [filter]="taskDetailDocumentFilter()"
            [related]="taskDetailDocumentRelated()" [relatedType]="taskDetailDocumentRelatedType()" />
        </p-tabpanel>
        <!-- ]]]FI -->

      </p-tabpanels>

    </p-tabs>
  </form>

  <ng-template #footer>
    <div class="p-dialog-footer">
      <!-- [[[II ESC:024-13 DOC:docs/documents/2026-06-15_024_open-tasks-detail-render-child-form.md#escenario-13 -->
      <app-custom-button-footer (saveAction)="saveTaskDetail({pos: 'task-detail', is_file: true })"
        (saveNotHideAction)="saveTaskDetail({pos: 'task-detail', hide:false, is_file: true})"
        (resetFormAction)="resetFormDialog()" />
      <!-- ]]]FI -->
    </div>
  </ng-template>

</p-dialog>

<!-- [[[II ESC:005-11 DOC:docs/documents/2026-05-31_005_columnas-form-data-y-tree-select-nombres.md#escenario-11 -->
<app-custom-local-settings [visible]="localSettingsDialogVisible" [field]="fieldConfig()" [formGroup]="configForm"
  (saveAction)="saveConfig()" (visibleAction)="onLocalSettingsDialogVisible($event)" />
<!-- ]]]FI -->
