<p-confirmdialog />
<div style="position: absolute; z-index: 2;"
  *ngIf="showComponentSignal()[$any('request-detail')]?.local || showComponentSignal()[$any('request-detail')]?.read">
  <app-custom-button-crud (deleteAction)="delete()" (editAction)="edit()"
    (refreshAction)="getAll({ force: true, pos: pos() })" (newAction)="openNew({pos:pos()})"
    [moreOptions]="moreOptions()" [getMenu]="getMenu()" [selected]="selected()" [startMenu]="startMenu()"
    (startAction)="setStatus('I')" [openNewMenu]="openNewMenu()" />
</div>

<div class="table-fit-Custom"
  *ngIf="showComponentSignal()[$any('request-detail')]?.local || showComponentSignal()[$any('request-detail')]?.read">
  <app-custom-table class="table-fit-Custom" [value]="items()" [columns]="selectedColumns()" [selected]="selected()"
    (selectionAction)="onSelection($event)" (rowDoubleClick)="onRowDoubleClick($event)"
    [exportDialogVisible]="exportDialogVisible" [field]="fieldExport()"
    (exportDialogVisibleAction)="onExportDialogVisible($event)" (exportServerAction)="onExportServer($event)"
    (lazyLoadAction)="onLazyLoad({event:$event})" [rows]="limit()[pos()]" [totalRecords]="totalRecords()[pos()]"
    [filterDelayTable]="filterDelayTable()" />
</div>

<!-- [[[II ESC:031-06 DOC:docs/documents/2026-07-18-031-optimizacion-navegacion-activos.md#escenario-06 ESC:031-07 DOC:docs/documents/2026-07-18-031-optimizacion-navegacion-activos.md#escenario-07 -->
@defer (when localSettingsDialogVisible) {
  <app-custom-local-settings *ngIf="showLocalSettingsComponent() && localSettingsDialogVisible" [sectionConfiguration]="localSettingsConfiguration()" [visible]="localSettingsDialogVisible"
    [field]="fieldConfig()" [formGroup]="configForm"
    (saveAction)="saveConfig()" (visibleAction)="onLocalSettingsDialogVisible($event)" />
}
<!-- ]]]FI -->

<app-custom-import [visible]="importDialogVisible" (visibleAction)="onImportDialogVisible($event)"
  (saveAction)="onImportSave($event)" />

<app-custom-actions-selection [visible]="actionsSelectionDialogVisible" (visibleChange)="onVisibleChange($event)" />

<p-dialog [(visible)]="formDialogVisible[$any(typeDefault)]" (onHide)="onHide($any(typeDefault))"
  (onShow)="onShow($any(typeDefault), $any(requestDetailRef))" [styleClass]="styleClassDialog()" #requestDetailRef
  [maximizable]="true" modal="true">

  <ng-template #header>
    <div class="p-dialog-title">
      <span class="p-dialog-title-text">{{headerDialog()}}</span>
      <button type="button" class="p-dialog-titlebar-icon p-link" (click)="configDialog()">
        <i class="pi pi-spin pi-cog p-dialog-icon"></i>
      </button>
    </div>
  </ng-template>

  <form [formGroup]="form()[$any('request-detail')]" *ngIf="form()[$any('request-detail')]">

    <p-tabs [scrollable]="true" value="0">

      <p-tablist>
        <p-tab value="0">General</p-tab>
        <p-tab value="1">Responsable</p-tab>
        <p-tab value="2">Auditoría</p-tab>
        <p-tab value="3">Documentos</p-tab>
      </p-tablist>

      <p-tabpanels>
        <p-tabpanel header="General" value="0">

          <app-custom-draw-form *ngIf="form()[$any(typeDefault)] && drawForm()[typeDefault]"
            [drawForm]="drawForm()[typeDefault]['general']" [formGroup]="form()[$any(typeDefault)]"
            [delegateTableSave]="true" (onTableRowSave)="handleTableRowSave($event)"
            [tableRowSaveOutcome]="tableRowSaveOutcome()" (onKeydownEnterAction)="onKeydownEnter($event)"
            (onButtonClickAction)="handleButtonClick($event)"
            (onSelectAutoCompleteAction)="onSelectAutoComplete($event)" />

        </p-tabpanel>

        <p-tabpanel header="Reponsable" value="1">

          -------------

        </p-tabpanel>

        <p-tabpanel header="Auditoría" value="2">

          <app-custom-audit [cf]="customField()['request']" [selected]="selected()" />

        </p-tabpanel>

        <p-tabpanel header="Documentos" value="3">
          <!-- <app-custom-app-documents [selected]="selected()['request']" [type]="'request'" [app]="'purchases/request'"
                [filter]="'request'" (newAction)="openNewSecundary('asset-document-asset')" /> -->

        </p-tabpanel>

      </p-tabpanels>
    </p-tabs>

  </form>

  <ng-template #footer>
    <div class="p-dialog-footer">
      <app-custom-button-footer [config]="configGeneral()[$any(typeDefault)]" (saveAction)="save({ pos: typeDefault})"
        (cancelAction)="cancelRequestDetail()" (saveNotHideAction)="save({hide:false, pos: typeDefault})"
        (resetFormAction)="resetFormDialog()" />
    </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="tempActionDialogVisible" [modal]="false" [draggable]="true" [resizable]="false"
  [style]="{ width: '320px' }" header="Acción temporal">
  <div style="display: flex; flex-direction: column; gap: 8px;">
    <strong>Seleccionaste:</strong>
    <span>{{ tempActionLabel }}</span>
  </div>
</p-dialog>















<p-dialog [(visible)]="formDialogVisible[$any('request')]" (onHide)="onHide($any('request'))"
  (onShow)="onShow($any('request'), $any(requestDetailRef))" [styleClass]="styleClassDialog()" #requestDetailRef
  [maximizable]="true" modal="true">

  <ng-template #header>
    <div class="p-dialog-title">
      <span class="p-dialog-title-text">{{headerDialog()}}</span>
      <button type="button" class="p-dialog-titlebar-icon p-link" (click)="configDialog()">
        <i class="pi pi-spin pi-cog p-dialog-icon"></i>
      </button>
    </div>
  </ng-template>

  <form [formGroup]="form()[$any('request')]" *ngIf="form()[$any('request')]">

    <p-tabs [scrollable]="true" value="0">

      <p-tablist>
        <p-tab value="0">General</p-tab>
        <p-tab value="1">Responsable</p-tab>
        <p-tab value="2">Auditoría</p-tab>
        <p-tab value="3">Documentos</p-tab>
      </p-tablist>

      <p-tabpanels>
        <p-tabpanel header="General" value="0">

          <app-custom-draw-form *ngIf="form()[$any('request')] && drawForm()['request']"
            [drawForm]="drawForm()['request']['general']" [formGroup]="form()[$any('request')]"
            [delegateTableSave]="true" (onTableRowSave)="handleTableRowSave($event)"
            [tableRowSaveOutcome]="tableRowSaveOutcome()" (onKeydownEnterAction)="onKeydownEnter($event)"
            (onButtonClickAction)="handleButtonClick($event)" />

        </p-tabpanel>

        <p-tabpanel header="Reponsable" value="1">

          -------------

        </p-tabpanel>

        <p-tabpanel header="Auditoría" value="2">

          <app-custom-audit [cf]="customField()['request']" [selected]="selected()" />

        </p-tabpanel>

        <p-tabpanel header="Documentos" value="3">
          <!-- <app-custom-app-documents [selected]="selected()['request']" [type]="'request'" [app]="'purchases/request'"
                [filter]="'request'" (newAction)="openNewSecundary('asset-document-asset')" /> -->

        </p-tabpanel>

      </p-tabpanels>
    </p-tabs>

  </form>

  <ng-template #footer>
    <div class="p-dialog-footer">
      <app-custom-button-footer [config]="configGeneral()[$any('request')]" (saveAction)="save({ pos: 'request'})"
        (cancelAction)="cancelRequestDetail()" (saveNotHideAction)="save({hide:false, pos: 'request'})"
        (resetFormAction)="resetFormDialog()" />
    </div>
  </ng-template>
</p-dialog>

<!-- [[[II ESC:057-157 DOC:docs/documents/2026-08-08-057-propuesta-compras-v3.md#escenario-157
  Esta pantalla no usa `app-crud-page-shell`, así que el diálogo de firma se
  incluye aquí. El estado vive en la clase CRUD, igual que en el shell.
-->
<app-custom-authorization [crud]="crudPage" />
<!-- ]]]FI -->
