<div style="position: absolute; z-index: 2;">
  <app-custom-button-crud (deleteAction)="delete()" (editAction)="edit()"
    (refreshAction)="getAll({ force: true, pos: pos() })" (newAction)="openNew({pos:pos()})"
    [moreOptions]="moreOptions()" [getMenu]="getMenu()" [selected]="selected()" [startMenu]="startMenu()"
    (startAction)="setStatus('I')" [openNewMenu]="openNewMenu()" />
</div>

<div class="table-fit-Custom">
  <app-custom-table class="table-fit-Custom" [value]="items()" [columns]="selectedColumns()" [selected]="selected()"
    (selectionAction)="onSelection($event)" (rowDoubleClick)="onRowDoubleClick($event)"
    [exportDialogVisible]="exportDialogVisible()" [field]="fieldExport()"
    (exportDialogVisibleAction)="onExportDialogVisible($event)" (exportServerAction)="onExportServer($event)"
    (lazyLoadAction)="onLazyLoad({event:$event})" [rows]="limit()[pos()]" [totalRecords]="totalRecords()[pos()]"
    [filterDelayTable]="filterDelayTable()" />
</div>

<app-custom-local-settings [visible]="localSettingsDialogVisible()" [field]="fieldConfig()" [formGroup]="configForm"
  (saveAction)="saveConfig()" (visibleAction)="onLocalSettingsDialogVisible($event)" />

<app-custom-import [visible]="importDialogVisible()" (visibleAction)="onImportDialogVisible($event)"
  (saveAction)="onImportSave($event)" />

<app-custom-actions-selection [visible]="actionsSelectionDialogVisible" (visibleChange)="onVisibleChange($event)" />

<p-dialog [(visible)]="formDialogVisible[$any(typeDefault)]" (onHide)="onHide($any(typeDefault))"
  (onShow)="onShow($any(typeDefault))" [styleClass]="dialogSizeClass(typeDefault)" modal="true">

  <ng-template #header>
    <div class="p-dialog-title">
      <span class="p-dialog-title-text">{{headerDialog()}}</span>
      <button type="button" class="p-dialog-titlebar-icon p-link" (click)="configDialog()">
        <i class="pi pi-spin pi-cog p-dialog-icon"></i>
      </button>
    </div>
  </ng-template>
  <form [formGroup]="form()[$any('request-detail')]" *ngIf="form()[$any('request-detail')]">

    <p-tabs [scrollable]="true" value="0">

      <p-tablist>
        <p-tab value="0">General</p-tab>
        <p-tab value="1">Responsable</p-tab>
        <p-tab value="2">Auditoría</p-tab>
        <p-tab value="3">Documentos</p-tab>
      </p-tablist>

      <p-tabpanels>

        <p-tabpanel header="General" value="0">

          <p-table *ngIf="showComponentSignal()['local'] || showComponentSignal()['create'] " #dt [value]="products()"
            [columns]="columnsExist" dataKey="id" [scrollable]="true" scrollHeight="flex" styleClass="p-datatable-sm"
            [reorderableColumns]="true" [tableStyle]="{'min-width': '60rem'}">

            <ng-template #caption style="padding: 0px !important;">

              <app-custom-draw-form *ngIf="form()[$any(typeDefault)] && drawForm()[typeDefault]"
                [drawForm]="drawForm()[typeDefault]['general']" [formGroup]="form()[$any(typeDefault)]"
                [customField]="customField()[typeDefault]" (onSelectAutoCompleteAction)="onSelectAutoComplete($event)"
                (onChangeDropdownAction)="onChangeDropdown($event)"
                (onNewIconDropdownAction)="onNewIconDropdown($event)"
                (onReloadIconDropdownAction)="onReloadIconDropdown($event)"
                (onChangeToggleAction)="onChangeToggle($event)" (onKeydownEnterTextAction)="onKeydownEnterText($event)"
                (onClosableIconDropdownAction)="onClosableIconDropdown($event)"
                (onKeydownEnterNumberAction)="onKeydownEnterNumber($event)" />
            </ng-template>


            <ng-template #header let-columns>
              <tr>
                <th style="width:3rem"></th>
                <th *ngFor="let col of columns">{{ col.header }}</th>

              </tr>
            </ng-template>
            <ng-template #body let-rowData let-product let-columns="columns" let-index="rowIndex">
              <tr [pReorderableRow]="index">

                <td>
                  <span class="pi pi-bars" pReorderableRowHandle></span>
                </td>
                <td>
                  {{ product.code }}
                </td>
                <td>
                  {{ product.name }}
                </td>

                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pEditableColumnInput let-rowData>
                      <input pInputText type="text" [(ngModel)]="rowData.price" />
                    </ng-template>
                    <ng-template pEditableColumnOutput let-rowData>
                      {{ rowData.price | currency: 'USD' }}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pEditableColumnInput let-rowData>
                      <input pInputText type="text" [(ngModel)]="rowData.quantity" />
                    </ng-template>
                    <ng-template pEditableColumnOutput let-rowData>
                      {{ rowData.requested }}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>

                  <p-tag [value]="product.discard_proof ? 'Se entrega desecho' : 'No entrega desecho'"
                    [severity]="'LOWSTOCK'"></p-tag>

                </td>

              </tr>
            </ng-template>
          </p-table>

        </p-tabpanel>

        <p-tabpanel header="Reponsable" value="1">

          -------------

        </p-tabpanel>

        <p-tabpanel header="Auditoría" value="2">

          <app-custom-audit [cf]="customField()['request']" [selected]="selected()" />

        </p-tabpanel>

        <p-tabpanel header="Documentos" value="3">
          <!-- <app-custom-app-documents [selected]="selected()['request']" [type]="'request'" [app]="'purchases/request'"
                [filter]="'request'" (newAction)="openNewSecundary('asset-document-asset')" /> -->

        </p-tabpanel>

      </p-tabpanels>
    </p-tabs>

  </form>

  <ng-template #footer>
    <div class="p-dialog-footer">
      <app-custom-button-footer (saveAction)="save()" (saveNotHideAction)="save({hide:false})"
        (resetFormAction)="resetFormDialog()" (cancelAction)="cancelRequestDetail()" />
    </div>
  </ng-template>

</p-dialog>