<div class="flex flex-wrap gap-x-2 justify-center">

  <p-button *ngIf="resetForm() && !buttonConfig().reset.hide" [label]="buttonConfig().reset.label"
    [icon]="buttonConfig().reset.icon" [severity]="buttonConfig().reset.severity" (click)="resetFormAction.emit()"
    variant="text" [raised]="true"></p-button>

  <p-button *ngIf="cancel() && !buttonConfig().cancel.hide" [label]="buttonConfig().cancel.label"
    [icon]="buttonConfig().cancel.icon" [severity]="buttonConfig().cancel.severity" (click)="cancelAction.emit()"
    variant="text" [raised]="true"></p-button>

  <!--para mostar ocultar los botones dependiendo del dispositivo no se pone las clases de quiere sm, md, lg, xl porque al 
        poner block los boones se descuadran-->
  <p-button *ngIf="save() && !buttonConfig().save.hide" label="Guardar" (click)="saveAction.emit()"
    class="hide-md-custom hide-lg-custom" variant="text" [raised]="true" severity="secondary"></p-button>

  <p-button *ngIf="saveNotHide() && !buttonConfig().save_no_hide.hide" [label]="buttonConfig().save_no_hide.label"
    [icon]="buttonConfig().save_no_hide.icon" [severity]="buttonConfig().save_no_hide.severity"
    (click)="saveNotHideAction.emit()" variant="text" [raised]="true" class="hide-sm-custom"></p-button>

  <p-button *ngIf="save() && !buttonConfig().save.hide" [label]="buttonConfig().save.label"
    [icon]="buttonConfig().save.icon" [severity]="buttonConfig().save.severity" (click)="saveAction.emit()"
    variant="text" [raised]="true" class="hide-sm-custom"></p-button>

</div>
<!--<p-button label="Guardar" (click)="saveAction.emit()" class="hide-single-button"  
styleClass="p-button-raised p-button-text p-button-secondary"></p-button>


<p-button label="Guardar y nuevo" (click)="saveNotHideAction.emit()"  class="hide-multiple-buttons-custom" 
        styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
<p-button label="Guardar y cerrar" (click)="saveAction.emit()" class="hide-multiple-buttons-custom" 
        styleClass="p-button-raised p-button-text p-button-secondary"></p-button>

        -->
<!--°°°no funciona los stylo por eso lo hago con js, no estoy seguro con esta solucion porque no se si es la mejorque hay ub observable-->
<!--
<p-button label="Guardar" (click)="saveAction.emit()" *ngIf="showSingleButton" styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
<p-button label="Guardar y nuevo" (click)="saveNotHideAction.emit()" *ngIf="showMultipleButtons" styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
<p-button label="Guardar y cerrar" (click)="saveAction.emit()" *ngIf="showMultipleButtons" styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
-->