<div class="card flex flex-wrap gap-2 justify-center">

  <p-button *ngIf="resetForm()" label="Limpiar" (click)="resetFormAction.emit()" variant="text" [raised]="true"
    severity="warn"></p-button>


  <p-button *ngIf="cancel()" label="Cancelar" (click)="cancelAction.emit()" variant="text" [raised]="true"
    severity="danger"></p-button>

  <!--para mostar ocultar los botones dependiendo del dispositivo no se pone las clases de quiere sm, md, lg, xl porque al 
        poner block los boones se descuadran-->
  <p-button *ngIf="save()" label="Guardar" (click)="saveAction.emit()" class="hide-md-custom hide-lg-custom"
    variant="text" [raised]="true" severity="secondary"></p-button>

  <p-button *ngIf="saveNotHide()" label="Guardar y nuevo" (click)="saveNotHideAction.emit()" variant="text"
    [raised]="true" severity="secondary" class="hide-sm-custom"></p-button>

  <p-button *ngIf="save()" label="Guardar y cerrar" (click)="saveAction.emit()" variant="text" [raised]="true"
    severity="secondary" class="hide-sm-custom"></p-button>

</div>
<!--<p-button label="Guardar" (click)="saveAction.emit()" class="hide-single-button"  
styleClass="p-button-raised p-button-text p-button-secondary"></p-button>


<p-button label="Guardar y nuevo" (click)="saveNotHideAction.emit()"  class="hide-multiple-buttons-custom" 
        styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
<p-button label="Guardar y cerrar" (click)="saveAction.emit()" class="hide-multiple-buttons-custom" 
        styleClass="p-button-raised p-button-text p-button-secondary"></p-button>

        -->
<!--°°°no funciona los stylo por eso lo hago con js, no estoy seguro con esta solucion porque no se si es la mejorque hay ub observable-->
<!--
<p-button label="Guardar" (click)="saveAction.emit()" *ngIf="showSingleButton" styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
<p-button label="Guardar y nuevo" (click)="saveNotHideAction.emit()" *ngIf="showMultipleButtons" styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
<p-button label="Guardar y cerrar" (click)="saveAction.emit()" *ngIf="showMultipleButtons" styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
-->