<!-- p() solo esta como prueba se debe cambiar por columnsSignal-->
<!-- [(selected)]="selected" lo separo en [selection]="selectedSignal()" y  (selectionChange)="selectedChange.emit(event)" para usar signal-->

<!-- <div class="flex align-items-center justify-content-between" style="height: 48px">
  <span class="p-input-icon-right w-12 ">
  </span>
  <span class="hidden sm:block p-input-icon-left p-1">
    <i class="pi pi-search"></i>
    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
      placeholder="Buscador genera" />
  </span>
</div> -->
<p-contextMenu #cm [model]="items"></p-contextMenu>
<p-table #dt size="small" [value]="valueSignal()" [columns]="columnsSignal()" [contextMenu]="cm"
  styleClass="p-datatable-gridlines p-datatable-striped" [globalFilterFields]="p()" [tableStyle]="minWidthSignal()"
  [rowHover]="true" dataKey="id" [selection]="selectedSignal()" scrollHeight="flex" (sortFunction)="sort($event)"
  sortMode="multiple" (selectionChange)="selectionAction.emit($event)" showJumpToPageInput="true"
  currentPageReportTemplate="Mostrar del {first} al {last} de {{totalRecordsSignal()}} registros - {{selectedSignal().length}} seleccionados"
  [showCurrentPageReport]="showCurrentPageReportSignal()" [scrollable]="scrollableSignal()"
  [paginator]="paginatorSignal()" [rows]="50" [totalRecords]="valueSignal().length" [lazy]="true"
  [rowsPerPageOptions]="[250,500,1000]" [filterDelay]="filterDelayTableSignal()">

  <!-- pongo esto [globalFilterFields]="columns" para que solo busque en las columnas visibles, cuando se busca y luego se oculta sigue 
    mostrandose hasta que se haga una neva busqueda con el campo oculto -->
  <ng-template #caption>
    <div class="flex" style="height: 37px !important;">
      <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscador"
        class="ml-auto" />
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th pFrozenColumn class="align-number-Custom pr-1 pl-1">
        <div style="display: flex; align-items: center; justify-content: space-between;">
          <span style="width:2rem; display: inline-block;"></span>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </div>
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr (dblclick)="rowDoubleClick.emit(rowData)" [pContextMenuRow]="columns" class="p-selectable-row">
      <!--[class.selected]="configS.colorSelectedRow(rowData, selected)"-->
      <td pFrozenColumn class="align-number-Custom pr-1 pl-1 " style="width: 13px;">
        <div style="display: flex; align-items: center; justify-content: space-between; ">
          <span style="width:2rem; display: inline-block;">{{ rowIndex + 1 }}</span>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </div>
      </td>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [visible]="exportDialogVisibleSignal()" (onHide)="exportDialogVisibleAction.emit(false)" header="Exportar"
  styleClass="width-500px-custom">

  <div class="flex flex-wrap -mx-1 pt-3">
    <div class=" w-1/2 md:w-1/3 p-fluid">
      <span class="p-float-label ">
        <p-select [options]="optionsExport()" optionValue="id" optionLabel="name" placeholder="."
          styleClass="height-input-custom w-full" scrollHeight="200px" />
        <label>Tipo de documento</label>
      </span>
    </div>

    <div class=" w-1/2 md:w-1/4 p-fluid">
      <p-toggleButton styleClass="height-input-custom" onLabel="Local" offLabel="Servidor"
        (onChange)="changeToggleButton($event)"></p-toggleButton>
    </div>
  </div>

  <form [formGroup]="form()!" *ngIf="form()">

    <div class="flex flex-wrap -mx-1 pt-3">
      <div class="w-1/2 md:w-1/2 p-fluid">
        <span class="p-float-label ">
          <p-multiSelect [options]="field.cols" optionValue="field" optionLabel="header" formControlName="cols"
            styleClass="height-input-custom w-full" selectedItemsLabel="{0} columnas seleccionadas"></p-multiSelect>
          <label>Columnas a exportar</label>
        </span>

      </div>
    </div>

  </form>

  <ng-template pTemplate="footer">
    <p-button label="Exportar" (click)="exportData(dt)" styleClass="p-button-raised p-button-text p-button-secondary"
      class="hide-sm-custom"></p-button>
  </ng-template>
</p-dialog>