<!--si póngo [visible]="visibleSignal" la dialog no se cierra tengo que gacer en la funcion que se llama al cerrar-->
<p-dialog [(visible)]="visible" (onHide)="onHide($event)">

  <ng-template pTemplate="content">
    <!-- <form [formGroup]="form">
        <textarea rows="5"  formControlName="data" cols="30" pInputTextarea >

            <input type="file">

        </textarea>
    </form> -->

    <input type="file" (change)="onFileSelected($event)" />
  </ng-template>

  <!-- <ng-template pTemplate="footer">
        <app-custom-button-footer (saveAction)="save()" 
            (resetFormAction)="resetForm()" />
    </ng-template> -->
</p-dialog>