<p-confirmdialog />

<div style="position: absolute; z-index: 2;"
  *ngIf="showComponentSignal()[$any('inventory-movement-detail')]?.local || showComponentSignal()[$any('inventory-movement-detail')]?.read">
  <app-custom-button-crud (deleteAction)="delete()" (editAction)="edit()"
    (refreshAction)="getAll({ force: true, pos: pos() })" (newAction)="openNew({pos:pos()})"
    [moreOptions]="moreOptions()" [getMenu]="getMenu()" [openNewMenu]="openNewMenu()" [selected]="selected()"
    [startMenu]="startMenu()" (startAction)="setStatus($event)" />
</div>

<div class="table-fit-Custom"
  *ngIf="showComponentSignal()[$any('inventory-movement-detail')]?.local || showComponentSignal()[$any('inventory-movement-detail')]?.read">
  <app-custom-table class="table-fit-Custom" [value]="items()" [columns]="selectedColumns()" [selected]="selected()"
    (selectionAction)="onSelection($event)" (rowDoubleClick)="onRowDoubleClick($event)"
    [exportDialogVisible]="exportDialogVisible" [field]="fieldExport()"
    (exportDialogVisibleAction)="onExportDialogVisible($event)" (exportServerAction)="onExportServer($event)"
    (lazyLoadAction)="onLazyLoad({event:$event})" [rows]="limit()[pos()]" [totalRecords]="totalRecords()[pos()]"
    [filterDelayTable]="filterDelayTable()" />
</div>

<app-custom-local-settings [visible]="localSettingsDialogVisible" [field]="fieldConfig()" [formGroup]="configForm"
  (saveAction)="saveConfig()" (visibleAction)="onLocalSettingsDialogVisible($event)" />

<app-custom-import [visible]="importDialogVisible" (visibleAction)="onImportDialogVisible($event)"
  (saveAction)="onImportSave($event)" />

<app-custom-actions-selection [visible]="actionsSelectionDialogVisible" (visibleChange)="onVisibleChange($event)" />

<p-dialog [(visible)]="formDialogVisible[$any(typeDefault)]" (onHide)="onHide($any(typeDefault))"
  (onShow)="onShow($any(typeDefault), $any(inventoryMovementDetail))" [styleClass]="styleClassDialog()"
  [resizable]="true" [draggable]="true" modal="true" [style]="{'contain': 'layout style paint'}"
  #inventoryMovementDetail [maximizable]="true">
  <!-- [style]="{'contain': 'layout style paint'}" es para mejorrar el dendimiento pero afecta a los componentes anidados -->

  <ng-template #header>
    <div class="p-dialog-title">
      <span class="p-dialog-title-text">{{headerDialog()}}</span>
      <button type="button" class="p-dialog-titlebar-icon p-link" (click)="configDialog()">
        <i class="pi pi-spin pi-cog p-dialog-icon"></i>
      </button>
    </div>
  </ng-template>
  <form [formGroup]="form()[$any(typeDefault)]" *ngIf="form()[$any(typeDefault)]">

    <p-tabs [scrollable]="true" value="0">

      <p-tablist>
        <p-tab value="0">General</p-tab>
        <!-- <p-tab value="1">Clasificadores</p-tab> -->
        <!-- <p-tab value="2">Responsable</p-tab> -->
        <p-tab value="3">Auditoría</p-tab>
        <p-tab value="4">Documentos</p-tab>
      </p-tablist>

      <p-tabpanels>

        <p-tabpanel value="0">
          <app-custom-draw-form *ngIf="form()[$any(typeDefault)] && drawForm()[typeDefault]"
            [drawForm]="drawForm()[typeDefault]['general']" [formGroup]="form()[$any(typeDefault)]" [type]="typeDefault"
            [isCreate]="isCreate()" />
        </p-tabpanel>

        <!-- <p-tabpanel header="Responsable" value="1"> </p-tabpanel> -->
        <p-tabpanel value="3">
          <app-custom-audit [cf]="customField()[typeDefault]" [selected]="selected()" />
        </p-tabpanel>

        <!-- <p-tabpanel value="4">
          <app-custom-documents [selected]="selected()" [type]="'asset-document'" [app]="'assets/asset-document'"
            [filter]="'asset'" (newAction)="openNewSecundary('asset-document-asset')" />
        </p-tabpanel> -->

      </p-tabpanels>
    </p-tabs>

  </form>

  <ng-template #footer>
    <div class="p-dialog-footer">
      <app-custom-button-footer [config]="configGeneral()[$any(typeDefault)]"
        (saveAction)="save({pos: typeDefault, is_file: true})"
        (saveNotHideAction)="save({pos: typeDefault, hide:false, is_file: true})" (resetFormAction)="resetFormDialog()"
        (cancelAction)="cancel()" />
    </div>
  </ng-template>

</p-dialog>