<!--si póngo [visible]="visibleSignal" la dialog no se cierra tengo que gacer en la funcion que se llama al cerrar-->
<p-dialog [(visible)]="visible" styleClass="width-650px-custom min-height-document-custom"
  header="Configuración del módulo" (onHide)="onHide($event)">
  <form [formGroup]="formGroup!" *ngIf="formGroup">
    <div class="flex flex-wrap -mx-1 pt-3">
      <div class="w-1/2 md:w-1/3 p-fluid">
        <p-multiSelect [options]="fieldSignal()?.cols || []" formControlName="columns" placeholder="Campos a mostrar"
          optionValue="field" optionLabel="header" selectedItemsLabel="{0} columnas seleccionadas"></p-multiSelect>
      </div>
    </div>
  </form>

  <div class="p-fluid p-formgrid p-grid">



    <div class="p-field w-full md:w-1/6">
      <label for="formaPago">Forma de Pago</label>
      <p-select id="formaPago" [options]="formasPago" optionLabel="label" optionValue="value"></p-select>
    </div>


    <div class="p-field w-full md:w-1/12">
      <label for="moneda">Moneda</label>
      <p-select id="moneda" [options]="monedas" optionLabel="label" optionValue="value"></p-select>
    </div>


    <div class="p-field w-full md:w-1/12">
      <label for="tipoComprobante">Tipo Comprobante</label>
      <p-select id="tipoComprobante" [options]="tipoComprobante" optionLabel="label" optionValue="value"></p-select>
    </div>

    <div class="p-field w-full md:w-1/12">
      <label for="metodoPago">Método de Pago</label>
      <p-select id="metodoPago" [options]="metodoPago" optionLabel="label" optionValue="value"></p-select>
    </div>

  </div>

  <div class="p-grid">
    <div class="w-full md:w-1/2">
      <h4>Emisor</h4>
      <div class="p-field">
        <label>RFC</label>
        <input type="text" pInputText />
      </div>
      <div class="p-field">
        <label>Nombre</label>
        <input type="text" pInputText />
      </div>
      <div class="p-field">
        <label>Régimen Fiscal</label>
        <input type="text" pInputText />
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <h4>Receptor</h4>
      <div class="p-field">
        <label>RFC</label>
        <input type="text" pInputText>
      </div>
      <div class="p-field">
        <label>Nombre</label>
        <input type="text" pInputText />
      </div>
      <div class="p-field w-full md:w-1/12">
        <label for="usoDelCFDI">Uso del CFDI</label>
        <p-select id="usoDelCFDI" [options]="usoDelCFDI" optionLabel="label" optionValue="value"></p-select>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Guardar" (click)="saveAction.emit()"
      styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
  </ng-template>
</p-dialog>